$purple-primary: rgb(117, 67, 196);

$text-primary: #777777;
$text-secondary: #a3a3a3;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);

// social icon hover state colors
$facebook-blue: rgb(59, 89, 152);
$instagram-red: rgb(251, 57, 88);
$youtube-red: rgb(255, 0, 0);
$spotify-green: rgb(132, 189, 0);

// fonts
$rajdhani: 'Rajdhani', sans-serif;
$righteous: 'Righteous', cursive;
$open-sans: 'Open Sans', sans-serif;